body {
    font-family:Arial, sans-serif;
    font-size:small;
    width:800px;
    margin-left:20px;
    margin-top:0px;
    background-color: #D3D3D3;
}

header {
    background-image:url("header-800x234.jpg");
    height:234px;
    position:relative;
}

h1 {
    position:absolute;
    top:80%;
}

a {
    color: orange;
    text-decoration: none;
}

input[type=text] {
    width:600px;
    font-size:medium;
}

textarea {
    width:575px;
    height:400px;
    font-size:small;
}

.error {
    color: red;
    }
table {
    padding:none;
}
.main-content {
    width:75%;
}

.sidebar {
    width:25%;
    font-size:medium;
    font-weight:bold;
    vertical-align:top;
    padding-left:10px;
}

.post-title {

    }

.post-content {

    }

.post-link {
    float:right;
}

.post-date {
    float:left;
}

.divider {
    clear:both;
}
.divide-line {
    color:#GGGGGG;
    style:solid;
    width:475px;
    margin-top:20px;
}
