<!DOCTYPE html>
<html>
    <head>
        <title>Build A Blog</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header>
        <h1>Build A Blog Project</h1>
        </header>
        <main>
        <table><tbody><tr>
            <td class="main-content">
            {% block content %}
            {% endblock %}
            </td>
            <td class="sidebar">
                Navigation<br/>
                <a href="/">Home</a><br/>
                <a href="/newpost">Post</a>
            </td></tr></tbody></table>
        </main>
    </body>
</html>
